.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  max-width: 300px;
  width: 100%;
  position: relative;
  padding: 10px;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 8px 8px 0 0;
}

.details {
  padding: 15px;
}

/* Botão de favoritos */
.favoriteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #989898;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
  transition: transform 0.2s ease-in-out;

  outline: none;         /* Remove o contorno de foco */
  box-shadow: none;      /* Garante que nenhuma sombra apareça */
}

.favoriteButton:hover {
  transform: scale(1.1);
}

.title {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #333;
}

/* Estilização da avaliação com estrelas */
.rating {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-bottom: 10px;
  color: #f39c12;
  font-size: 1rem;
}

.priceContainer {
  display: flex;
  flex-direction: row;
  align-items: center; /* Alinha os itens verticalmente */
  justify-content: space-between; /* Espaço entre o preço e o botão */
  width: 100%;
  margin-top: 10px; /* Adapte conforme necessário */
}

/* Preço e desconto */
.priceDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;
}

.priceOld {
  font-size: 0.9rem;
  text-decoration: line-through;
  color: #999;
}

.discount {
  font-size: 0.9rem;
  color: #e74c3c;
  font-weight: bold;
}

/* Preço atual */
.price {
  font-size: 1.4rem;
  font-weight: bold;
  color: #0000FF;
  margin-bottom: 10px;
}

/* Botão de compra */
.buyButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease;
}

.buyButton:hover {
  background-color: #0056b3;
}

.buyButton svg {
  font-size: 1.2rem;
}

/* Responsividade */
@media (max-width: 768px) {
  .card {
    max-width: 100%;
    width: 100%;
  }
}
