/* src/components/Product/Card.css */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

.card-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    max-width: 300px;
    width: 100%;
    position: relative; /* Importante para o posicionamento do botão de favoritos */
}

.card-item:hover {
    transform: translateY(-5px);
}

.img-item img {
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-bottom: 1px solid #f0f0f0;
}

.info-item {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.title-item {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.rating {
    font-size: 0.9rem;
    color: #f39c12;
    margin-bottom: 10px;
}

.price-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.price-old {
    font-size: 0.9rem;
    text-decoration: line-through;
    color: #999;
}

.discount {
    font-size: 0.9rem;
    color: #e74c3c;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.favorite-btn {
    position: absolute;
    top: 10px; /* Ajuste para garantir que o botão não fique colado na borda */
    right: 10px; /* Ajuste para garantir que o botão fique no canto superior direito */
    color: #626262;
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1; /* Garante que o botão fique acima do card */
    font-size: 1.5em;
}

.price {
    font-size: 1.4rem;
    font-weight: bold;
    color: #0000FF;
}

.cart-btn {
    color: #626262;
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .card-item {
        max-width: 100%;
        width: 100%;
    }
}
