.cart-page {
    padding: 20px;
}

.cart-page h2 {
    text-align: center;
}

.cart-list {
    list-style: none;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}

.cart-list li {
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.cart-item-info {
    display: flex;
    align-items: center;
}

.cart-item-image {
    width: 80px;
    margin-right: 20px;
}

.remove-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #c0392b;
}
  