* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

/* SECTION PROPAGANDA */

.section-advertising {
    margin: auto;
}

.container-advertising {
    max-width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

@media (max-width: 1280px) {
    .container-advertising {
        max-width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container-advertising {
        max-width: 768px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .advertising {
        margin-top: 50px;
    }
}


@media (max-width: 768px) {
    .container-advertising {
        max-width: 576px;
    }
}

.advertising {
    max-width: 500px;
}

.advertising h1 {
    color: black;
    font-size: 3rem;
}

.advertising h1.typical {
    background-color: rgb(255, 72, 0);
    color: #ffead3;
    font-size: 3rem;
}

.img-advertising {
    width: 100%;
    max-width: 500px;
}

.img-advertising img {
    width: 100%;
}
