* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.footer {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    background-color: #1A1A1A;
}

.container-footer {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 80px;
    justify-content: space-between;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width: 1280px) {
    .container-footer {
        max-width: 1024px;
        gap: 10px;
    }
}

@media (max-width: 1024px) {
    .container-footer {
        max-width: 768px;
        gap: 10px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .our-app {
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .container-footer {
        max-width: 576px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 10px;
    }

    .contact-company {
        margin-bottom: 40px;
    }

    .about-us-service {
        margin-right: auto;
        margin-bottom: 40px;
    }
}

.contact-company {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align to left */
}

.name-company {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}   

.name-company .icon-cc {
    font-size: 2rem;
    color: white;
}

.name-company h2 {
    color: white;
    font-size: 1.3rem;
    margin-left: 20px; 
}

.desc-company {
    font-size: .9rem;
    color: white;
    text-align: left; /* Align text to the left */
}

.social-media-footer {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon-sm {
    font-size: 2rem;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}

.icon-sm:hover {
    color: rgb(255, 72, 0);
}

.location-f {
    display: flex;
    padding-bottom: 20px;
    text-align: left; /* Align text to the left */
}

.contact-f {
    display: flex;
    padding-bottom: 20px;
    text-align: left; /* Align text to the left */
}

.icon-cl {
    color: white;
}

.location-f h3 {
    font-size: 1rem;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

.contact-f h3 {
    font-size: 1rem;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

.about-us-service {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align to left */
}

.about-us {
    margin-bottom: 20px;
}

.about-us h1 {
    color: white;
    font-size: 1.3rem;
    text-align: left; /* Align text to the left */
}

.about-us ul {
    margin-top: 15px;
}

.about-us ul li {
    font-size: .9rem;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left; /* Align text to the left */
}

.about-us ul li:hover {
    color: rgb(255, 72, 0);
}

.service {
    margin-top: 20px;
}

.service h1 {
    color: white;
    font-size: 1.3rem;
    text-align: left; /* Align text to the left */
}

.service ul {
    margin-top: 15px;
}

.service ul li {
    font-size: .9rem;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left; /* Align text to the left */
}

.service ul li:hover {
    color: rgb(255, 72, 0);
}

.our-app {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align to left */
}

.our-app h1 {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 15px;
    text-align: left; /* Align text to the left */
}

.apps {
    margin-top: 10px;
}

.app {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 28px;
    background-color: rgb(69, 69, 69);
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Align to left */
    align-items: center;
}

.app:hover {
    background-color: rgb(255, 72, 0);
}

.icon-app {
    font-size: 1.9rem;
    color: white;
    margin-right: 10px; /* Space between icon and text */
}

.app h3 {
    font-size: 1.3rem;
    color: white;
}

.copyright {
    background-color: rgb(35, 35, 35);
    margin-top: 50px;
}

.container-copyright {
    max-width: 1500px;
    font-size: 1rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container-copyright p {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: .9rem;
}

@media (max-width: 768px) {
    .container-copyright p {
        font-size: .8rem;
    }
}

.container-copyright a {
    color: white;
    text-decoration: underline;
}

.container-copyright :hover a {
    color: rgb(255, 72, 0);
}
